<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FileUploader</title>
</head>
<body>
    <% if (user) { %>
        <h1>Greetings <%= user.username %>!</h1>
        <%- include('indexVariants/fileUploadForm') %>
        <a href="log-out">logout</a>
    <% } else { %>
        <p>greetings </p>
        <%- include('indexVariants/loginForm') %>
    <% } %>
    <% if (message) { %>
        <h1><%= message %>!</h1>
    <% } %>
</body>
</html>