<form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">Upload file</button>
</form>

<a href="/api/upload'">upload test</a>