<form action="/upload" method="POST" enctype="multipart/form-data">
    <input 
        type="file"
        name="file"
        accept="image/png,image/jpeg,.pdf"    
    />
    <button type="submit">Upload file</button>
</form>

<a href="/api/upload'">upload test</a>